<img src="https://s3.amazonaws.com/crankplan-p/crackplan_logo.png">

<h3>Make events faster <br />
with your real friends <br />
</h3>
</h5>Welcome the new private social network to share events <br />
with you closest friends!
</h5>
<h6>P.S. Say goodbye to privacy issues</h6>

<%= link_to "Sign in", new_user_session_path, class: "waves-effect waves-light btn" %>
<%= render 'form' %>

<footer>
	<nav>
		<div class="nav-wrapper">      
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="rigth hide-on-med-and-down">
          <li><a href="/about">About</a></li>
          <li><a href="/terms">Terms</a></li>
          <li><a href="/help">Help</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/about">About</a></li>
          <li><a href="/terms">Terms</a></li>
          <li><a href="/help">Help</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
			</div>
		</nav>
</footer>
