<article id="<%= requesting_user.id %>">
  <%= image_tag(requesting_user.image.small) %>
  <br>
  <%= requesting_user.full_name %> wants to follow you
  <br>
  <span class="accept">Accept</span>
  <span class="decline">Decline</span>
</article>