
		<div class="row">
			<div class="col s10 m10 l10 offset-l1">
				<div class="col s12 m12 l12 separadores" ></div>
				<div class="col s12 m12 l12 section scrollspy">
	    			<a href="login.html"><img class="responsive-img" src="https://s3.amazonaws.com/crankplan-p/crackplan_logo.png"></a>
				</div>
				<br />
				<br />
				<br />
				<div class="col s12 m12 l12">



					<br>


					<center>
					<img src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/11212752_500247236798102_1809628668626881753_n.png?oh=3676d811ce27382b98b565a2a54c0c59&oe=5629EA25">

				</center>

					<br><br>


					<h2 id="about">About Us</h2>
					<h3>The Team</h3>
					<!-- start slipsum code -->





					<h4>Morcio D’Achiardi (CEO, co-founder)</h4>

					<b>Morcio D’Achiardi</b> (@Morcio) is the CEO and co-founder of Crackplan, a community of friends who share events with the world. He is responsible for the company's overall vision and strategy as well as day-to-day operations.<br><br>

					Since the beginning, Morcio has focused on simplicity and inspiring creativity through solving problems with thoughtful product design.

					<br><br>

					<h4>Esteban Contreras (technical lead, co-founder)</h4>

					<b>Esteban Contreras</b> (@Esteban) is the technical lead and co-founder of Crackplan, a new community that shares events every day. As the head of engineering, Esteban focuses on building products that bring out the creativity in all of us.<br><br>

					Prior to founding Crackplan, he worked at GourmetBox as a user experience designer and back-end engineer.

					<br><br>

					<h4>Andres Heredia (Software developer)</h4>

					<b>Andres Heredia</b> (@Andres) is the front-end lead of Crackplan, a new private social network to share events with your closest friends. Andres focuses on building friendly front-ends and have fun with the team.<br><br>

					Prior to working on Crackplan, he worked 11 years on mainframe, desktop apps, web and new technologies, he studied at the National Open Distance University (UNAD).

					<br><br>

					<h4>Isabel Ruiz (System Engineer, Graphic Designer)</h4>

				<b>Isabel Ruiz</b> (@Isabel) is the technical lead and graphic designer of Crackplan, a new community that shares events every day. As the head of Graphic Design, Isabel focuses on building beauty products that make the style on the StartUp.<br><br>

				Prior to working on Crackplan, he worked at West Bank as a System Engenieer and front-end engineer.


					
				</div>
				<br />
				<br />
				<br />
				<br />
				<br />
			</div>
		</div>

     <footer>
        	<nav>
    <div class="nav-wrapper">      
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="rigth hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/help">Helps</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/about">About</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/help">Helps</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
        </footer>
            