
		<div class="row">
			<div class="col s10 m10 l10 offset-l1">
				<div class="col s12 m12 l12 separadores" ></div>
				<div class="col s12 m12 l12 section scrollspy">
	    			<a href="login.html"><img class="responsive-img" src="https://s3.amazonaws.com/crankplan-p/crackplan_logo.png"></a>
				</div>
				<br />
				<br />
				<br />
				<div class="col s12 m12 l12">



				


					<h2 id="about">Contact</h2>
					<h3>Get in touch with us!</h3>
					<!-- start slipsum code -->





					<h4>just write us to <a href="mailto:hello@crackplan.com">hello@crackplan.com</a> (we don’t like formal emails)</h4>


					
				</div>
				<br />
				<br />
				<br />
				<br />
				<br />
			</div>
		</div>

     <footer>
        	<nav>
    <div class="nav-wrapper">      
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="rigth hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/help">Helps</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/about">About</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/help">Helps</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
        </footer>
            