
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<div class="row">
			<div class="col s10 m10 l10 offset-l1">
				<div class="col s12 m12 l12 separadores" ></div>
				<div class="col s12 m12 l12 section scrollspy">
	    			<a href="login.html"><img class="responsive-img" src="https://s3.amazonaws.com/crankplan-p/crackplan_logo.png"></a>
				</div>
				<br />
				<br />
				<br />
				<div class="col s12 m12 l12">



				


					<h2 id="about">Terms of Use</h2>
					<h3>These Terms of Use are effective on July 4, 2015.</h3>
					<!-- start slipsum code -->





					By accessing or using the Crackplan website, the Crackplan service, or any applications (including mobile applications) made available by Crackplan (together, the "Service"), however accessed, you agree to be bound by these terms of use ("Terms of Use"). The Service is owned or controlled by Crackplan, Inc ("Crackplan"). <b>These Terms of Use affect your legal rights and obligations. If you do not agree to be bound by all of these Terms of Use, do not access or use the Service.</b>

					<br><br>

					There may be times when we offer a special feature that has its own terms and conditions that apply in addition to these Terms of Use. In those cases, the terms specific to the special feature control to the extent there is a conflict with these Terms of Use.

					<br><br>


					<b>ARBITRATION NOTICE: EXCEPT IF YOU OPT-OUT AND EXCEPT FOR CERTAIN TYPES OF DISPUTES DESCRIBED IN THE ARBITRATION SECTION BELOW, YOU AGREE THAT DISPUTES BETWEEN YOU AND INSTAGRAM WILL BE RESOLVED BY BINDING, INDIVIDUAL ARBITRATION AND YOU WAIVE YOUR RIGHT TO PARTICIPATE IN A CLASS ACTION LAWSUIT OR CLASS-WIDE ARBITRATION.</b>


					
				</div>
				<br />
				<br />
				<br />
				<br />
				<br />
			</div>
		</div>

     <footer>
        	<nav>
    <div class="nav-wrapper">      
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="rigth hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/help">Helps</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/about">About</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/help">Helps</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
        </footer>
            