// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$form-fields-heigth: 50px;
$standard-blue: #1F9BD0;

form{
  padding-top: 20px;
  padding-bottom: 20px;
  .form-control {
    height: $form-fields-heigth;
    margin-top: 5px;
  }
  .input-small{
    width: 95%;
  }
  #btn-add-photo-wrapper {
    color: #A6A6A6;
    padding: 0;
    display: flex;
    span{
      position: absolute;
      width: 100%;
      margin-top: 12px;
    }
    input[type="file"] {
      width: 100%;
      height: $form-fields-heigth;
      opacity: 0;
    }
  }
  #btn-add-event{
    width: 90px;
    color: $standard-blue;
    height: $form-fields-heigth;
    border-radius: 7px;
    font-size: 18px;
  }

}

article{
  padding-bottom: 15px;
  .panel-heading {
    min-height: 68px;
    background-color: white !important;
    padding: 15px;
    position: relative;

    .avatar-radius{
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    .username {
      color: $standard-blue;
      font-weight: 700;
      max-width: 250px;
      width: 100%;
      padding-top: 10px;
    }
    .time{
      position: absolute;
      right: 49px;
      top: 23px;
      color: #707070;
      font-size: 18px;
    }
  }
  .panel-body {
    padding: 0px;
    img {
      width: 100%;
      max-height: 520px;
    }
  }
  .assistant-name {
    color: $standard-blue;
    font-weight: 700;
    max-width: 150px;
    width: 100%;

    &:hover {
      color: $standard-blue;
      font-weight: 700;
    }
  }
  .btn-join{
    width: 148px;
    height: 56px;
    border-radius: 7px;
    border: solid 2px $standard-blue;
    font-size: 22px;
    color: $standard-blue;
    padding: 9px;

    &:active{
      background-color: #fff;
      color: white;
    }
    &:hover{
      background-color: $standard-blue;
      color: white;
    }    
  }
  
}