$shadow: 0 0px 3px lightgray;
$standard-blue: #1F9BD0;

.col-30{
  width: 33.3%;
  float: left;
}
.col-50{
  width: 33.3%;
  float: left;
}
.col-100{
  width: 100%;
  float: left; 
}

body { 
	padding-bottom: 70px; 
  background-color: #f8f8f8;
  font-family: 'Roboto' !important;
}

header{
  padding-top: 35px;
  padding-bottom: 7px;
  background-color: white !important;
  box-shadow: 0 0px 3px lightgray;

  .col-header{
    height: 45px;
    .col-logo{
      width: 49%;  
      display: inline-block;
      float: left;
    }
    .col-username{
      width: 49%;
      display: inline-block;  
      float: right;
      #username-wrapper{
        float: right;
        margin-left: 10px;
        .username {
          color: $standard-blue;
          width: 100%;
          &:hover {
            color: $standard-blue;
          }
        }        
      }
      .profile-avatar{
        border-radius: 50px;
        width: 40px;
        height: 40px;
      }
      .logout{
        font-weight: 300;
      }
    }
  }
}

@media (min-width: 300px) {
  header{
    padding-top: 18px;
  }
  #logo-crackplan{
    width: 110px;
  }
  .col-header{
    margin-left: 10px;
  }
  .col-username{
    text-align: right;
    padding-right: 10px;
    .logout{
      font-size: 13px;
    }
  }
  .profile-avatar{
    display: none;
  }
}

@media (min-width: 768px) {
  #logo-crackplan{
    width: 160px !important;
  }
  .col-username{
    .logout{
      float: left;
    }
  }
  .profile-avatar{
    display: inline;
  }

}

@media (min-width: 1150px) {
  #logo-crackplan{
    width: 182px !important;
  }
}